WebWCFPersonas2Cliente/Connected Services/ServiceReferencePersonas/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entp" nillable="true" type="tns:EntPerson" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Listp" nillable="true" type="tns:ArrayOfEntPerson" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="respuesta" nillable="true" type="tns:respuesta" />
  <xs:complexType name="EntPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="fechalta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntPerson" nillable="true" type="tns:EntPerson" />
  <xs:complexType name="ArrayOfEntPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntPerson" nillable="true" type="tns:EntPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntPerson" nillable="true" type="tns:ArrayOfEntPerson" />
</xs:schema>