WebWCFPersonas2Cliente/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62345/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityP" />
  <xs:element name="obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="obtenerResult" nillable="true" type="q1:respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obteneridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="obteneridResult" nillable="true" type="q2:respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="ep" nillable="true" type="q3:EntPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="agregarResult" nillable="true" type="q4:respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="ep" nillable="true" type="q5:EntPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="editarResult" nillable="true" type="q6:respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="ep" nillable="true" type="q7:EntPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="eliminarResult" nillable="true" type="q8:respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="buscarResult" nillable="true" type="q9:respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="ep" nillable="true" type="q10:EntPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EntityP" minOccurs="0" name="validarResult" nillable="true" type="q11:respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>